{% extends 'skeleton.html' %}

{% block breadcrumbs %}
  <span>
    <a href="{{ url_for('view_history', commit_id='master') }}">{{ g.repo.name }}</a>
    <span class=slash>/</span>
    <a href="{{ url_for('view_history') }}">{{ g.commit_id }}</a>
  </span>

  {% if g.subpaths %}
  <span>
    {% for name, subpath in g.subpaths %}
      {% if loop.last %}
      <a href="">{{ name|u }}</a>
      {% else %}
      <a href="{{ url_for('view_history', page=0, path=subpath) }}">{{ name|u }}</a>
      <span class=slash>/</span>
      {% endif %}
    {% endfor %}
  </span>
  {% endif %}
{% endblock %}

{% block extra_header %}
<div class=branch-selector>
  <span>{{ commit_id }}</span>
  <ul>
    {% for branch in g.branches %}
    <li><a href="{{ url_for('view_history', commit_id=branch, path=path) }}">{{ branch }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

